<h1>Customers#show</h1>
<p>Find me in app/views/customers/show.html.erb</p>
<h2>firstName: <%= @customer.firstName %></h2>
<h2>lastName: <%= @customer.lastName %></h2>
<h2>streetAddress: <%= @customer.streetAddress %></h2>
<h2>city: <%= @customer.city %></h2>
<h2>province: <%= @customer.province.name %></h2>
<h2>country: <%= @customer.country %></h2>
<h2>postalCode: <%= @customer.postalCode %></h2>
<h2>phone: <%= @customer.phone %></h2>
<h2>stripeId: <%= @customer.stripeId %></h2>


