<div class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-square">
        <%= image_tag(product.image) %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">
            <% if name_is_link %>
              <%= link_to product.name, product%>
            <% else %>
              <%= product.name %>
            <% end %>
          </p>
          <p><strong>Manufacturer: </strong><%= product.manufacturer %></p>
          <p><strong>Description: </strong><%= product.description %></p>
        </div>
      </div>
      <div class="content">
        <p><strong>Price: </strong><%= product.sellPrice %></p>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
</div>
