<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<h2>Product Category: <%= @product.category.name %></h2>
<h2>Product name: <%= @product.name %></h2>
<h2>Product manufacturer: <%= @product.manufacturer %></h2>
<h2>Product description: <%= @product.description %></h2>
<h2>Product sell Price: <%= @product.sellPrice %></h2>

